@font-face {
    font-family: Dumbledor;
    src: url("/fonts/dum1.ttf");
}
.dumbledor {
    font-family: Dumbledor;
    font-size: xx-large;
}

@font-face {
    font-family: MagicSchoolOne;
    src: url("/fonts/MagicSchoolOne.ttf");
}
.magicSchoolOne {
    font-family: MagicSchoolOne
}

@font-face {
    font-family: MagicSchoolTwo;
    src: url("/fonts/MagicSchoolTwo.ttf");
}
.magicSchoolTwo {
    font-family: MagicSchoolTwo
}

@font-face {
    font-family: ParryHotter;
    src: url("/fonts/ParryHotter.ttf");
}
.parryHotter {
    font-family: ParryHotter
}

