{{> header}}

<h1>Registrering av poeng</h1>

{{#saveResult}}
    <p><b>{{saveResult.house}}</b>
        har nå fått <b>{{saveResult.points}} poeng</b>
        for '{{saveResult.reason}}'</p>
{{/saveResult}}

<form action="points" method="post">
    <fieldset>

        {{#houses}}
            <label><input type="radio" name="houseField" id="{{.}}" value="{{.}}"> {{.}}</label>
        {{/houses}}

        <label for="pointsField">Poeng:</label>
        <input type="number" name="pointsField">

        <label for="reasonField">Begrunnelse:</label>
        <input type="text" name="reasonField" >

        <button type="submit">Lagre</button>

    </fieldset>
</form>

{{> footer}}