<footer class="page-footer {{#house.name}} {{house.name}}Nav {{/house.name}}{{^house.name}} indigo darken-4 {{/house.name}}">

    <div class="footer-copyright">
        <div class="container">
            Made by <a class="teal-text text-lighten-5" href="#">Brightfield Studios</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>

</body>
</html>