{{> header}}

<div class="section">
    <div class="row">
        <div class="col s3 center-align">
            <img height="50" src="/images/rankingIcon.png">
        </div>
        <div class="col s9">
            <h5>House Standings</h5>
        </div>
    </div>
    {{#houseRows}}
        <div class="row">
            {{#houses}}
                <div class="col s6 center-align">
                    <a href="/house/{{name}}" >
                        <img class="responsive-img pulse" src="/images/icon_{{name}}.png">
                        <p> {{points}} points </p>
                    </a>
                </div>
            {{/houses}}
        </div>
    {{/houseRows}}
</div>
<div class="divider"></div>
<div class="section">
    <div class="row">
        <div class="col s3 center-align">
            <img height="50" src="/images/newsIcon.png">
        </div>
        <div class="col s9">
            <h5>Upcoming events</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="/images/Quidditch_Pitch.jpg">
                    <span class="card-title">Lørdag 14:00 - Rumpeldunk</span>
                </div>
                <div class="card-content">
                    <p>Rumpeldunk er den mest populære sporten i magiverdenen. Spill for huset ditt og vinn Rumpeldunk Cupen!</p>
                </div>
                <div class="card-action">
                    <a href="#">Les Mer</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}