{{> header}}

    <div class="row">
      <div class="col s12 center-align">
        <img class="responsive-img" src="/images/icon_{{house.name}}.png">
      </div>
      <div class="col s12 center-align">

        {{house.points}} points.
          <a href="/house/{{name}}/points">Se poengoversikt her. </a>

      </div>
    </div>




  <div class="section">
    <div class="row">
      <div class="col s3 center-align">
        <img height="50" src="/images/newsIcon.png">
      </div>
      <div class="col s9">
        <h5>Latest Points</h5>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card {{house.name}}Nav">
          <div class="card-content white-text">
              <table>
              <thead>
                <tr>
                    <th>Points awarded</th>
                    <th>Added at</th>
                    <th>Reasoning</th>
                </tr>
              </thead>

              <tbody>
                  {{#pointList}}
                      <tr>
                          <td>{{value}} points</td>
                          <td>{{addedAt}}</td>
                          <td>{{reason}}</td>
                      </tr>
                  {{/pointList}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="col s3 center-align">
        <img height="50" src="/images/newsIcon.png">
      </div>
      <div class="col s9">
        <h5>House Wizards</h5>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s3">
              <img src="/images/alexProfilePic.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s9">
              <h6>Alexander Fosseidbråten</h6>
              <p>
                This is a square image. Add the "circle" class to it to make it appear circular.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s3">
              <img src="/images/monikaProfilePic.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s9">
                <h6>Monika Kristiansen</h6>
                <p>
                    This is a square image. Add the "circle" class to it to make it appear circular.
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{{> footer}}