{{> header}}

<section class="house">
    <header class="house-header">
        <h1 class="house-title">{{house.name}}</h1>
    </header>

    <div class="house-details">
        Poeng: {{house.points}}
    </div>
</section>

{{> footer}}