{{> header}}

<h1>{{title}}</h1>

<div class="houses">

    {{#points}}
        <section>
            <p>
                {{value}} points awarded at {{addedAt}} for: {{reason}}
            </p>
        </section>
    {{/points}}

</div>

{{> footer}}