{{> header}}

Lots of practical information to get here dawg!

<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">airport_shuttle</i>Transport</div>
        <div class="collapsible-body">
            We hope you are ready to travel with us.
            We will be leaving at 1500 from Oslo S by car heading for the magical Cabins.
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">business_center</i>Wizard Packing</div>
        <div class="collapsible-body">
            <ul class="collection">
                <li class="collection-item">Hat</li>
                <li class="collection-item">Cat</li>
                <li class="collection-item">Wand</li>
                <li class="collection-item">Toothbrush</li>
            </ul>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">map</i>Location</div>
        <div class="collapsible-body">
            <span>We are going to trysil. The address is xxx. Please refer to map.</span>
            <img class="responsive-img materialboxed" src="images/Quidditch_Pitch.jpg">
        </div>
    </li>
</ul>

{{> footer}}