{{> header}}
<div class="section">
    <div class="row">
        <div class="col s3 center-align">
            <img height="50" src="/images/newsIcon.png">
        </div>
        <div class="col s9">
            <h5> Timetable </h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m7">
        {{#eventRows}}
            <div class="card">
                <div class="card-image">
                    <img src="/images/{{imageSource}}">
                    <span class="card-title">{{time}} - {{name}}</span>
                </div>
                <div class="card-content">
                    <blockquote>
                        Location: {{location}}
                    </blockquote>
                    <p>{{description}}</p>
                </div>
                <div class="card-action">
                    <a href="#">Read More</a>
                </div>
            </div>
        {{/eventRows}}
    </div>
</div>
{{> footer}}